body {
    background-color: var(--cor-fundo-cinza-claro);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}
#sidebar {
    width: 250px;
    background-color: var(--cor-azul-escuro);
    padding: 20px;
    height: 100vh;
    position: fixed;
}
#sidebar h2 {
    color: var(--cor-branca);
    text-decoration: none; /* Sem sublinhado por padrão */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Suaviza transições */
    padding: 5px 10px;
}
#sidebar h2:hover {
    color: var(--cor-primaria); /* Cor do link no hover */
    text-decoration: underline; /* Aplica o sublinhado */
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar ul li {
    padding: 10px 0;
}
#sidebar ul li a {
    color: var(--cor-branca); /* Cor padrão do link */
    text-decoration: none; /* Sem sublinhado por padrão */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Suaviza transições */
    padding: 5px 10px; /* Adiciona um pouco de espaço ao redor do link */
}

#sidebar ul li a:hover {
    color: var(--cor-primaria); /* Cor do link no hover */
    text-decoration: underline; /* Aplica o sublinhado */
}

#main {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card {
    background-color: var(--cor-azul-claro);
    padding: 20px;
    border: 3px solid var(--cor-azul-escuro);
    border-radius: 15px;
    width: 30%;
}
#map {
    height: 400px;
    width: 100%;
    border-radius: 15px;
    border: 3px solid var(--cor-azul-escuro);
}