:root{
    --cor-primaria: #43bd8e;
    --cor-azul-claro: #d0f0fd;
    --cor-branca: #FFFF;
    --cor-fundo-escuro: #040203;
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #ccc;
    --cor-azul-escuro: #2c3e50;
}

:root{
    --fonte-primaria: 'Poppins', san sarif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-extra-grande: 4.5rem;
    --fonte-grande: 3rem;
    --fonte-medio: 2.4rem;
    --fonte-normal: 1.6rem;
}
